<!DOCTYPE html>
<html xmlns="http://w3.org/199/xtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutPadrao}">

<head>
<title>Pesquisa Produto</title>
</head>

<section layout:fragment="conteudo">

	<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
		<span th:text="${mensagem}"></span>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title gft-title-panel">Pesquisa produtos</h1>
				<a class="btn btn-link gft-link-panel" href="/produtos/novo">Novo
					Produto</a>
			</div>
		</div>

		<div class="panel-body">
			<form method="get" class="form-horizontal" action="/produtos"
				th:object=${filtro}>
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control" placeholder="Pesquisa..."
								autofocus="autofocus" th:field="*{descricao}"></input> <span
								class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>

			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th>Descrição</th>
							<th class="text-center col-md-2">Departamento</th>
							<th class="text-right col-md-2">Valor</th>

							<th class="col-md-1"></th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="produto : ${produtos}">
							<td class="text-center" th:text="${produto.codigo}"></td>

							<td th:text="${produto.descricao}"></td>
							
							<td class="text-center">
								<span th:text="${produto.departamento.descricao}"></span>
							</td>

							<td class="text-right" th:text="|R$ ${{produto.valor}}|"></td>

							<td class="text-center"><a class="btn btn-link btn-xs"
								th:href="@{/produtos/{codigo}(codigo=${produto.codigo})}"
								title="Editar" rel="tooltip" data-placement="top"> <span
									class="glyphicon glyphicon-pencil"> </span>
							</a> <a class="btn btn-link btn-xs" data-toggle="modal"
								data-target="#ModalExclusao"
								th:attr="data-codigo=${produto.codigo}, data-descricao=${produto.descricao}"
								title="Excluir" rel="tooltip" data-placement="top"> <span
									class="glyphicon glyphicon-remove"> </span>
							</a></td>

						</tr>

						<tr>
							<td colspan="6" th:if="${#lists.isEmpty(produtos)}">Nenhum
								produto foi encontrado</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="DialogoExclusao"></div>


</section>

</html>